.header{
    position: absolute;
    height: 10%;
    width: 99%;
    background-color: #F2FFFB;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight: bold;
}

.viewtabs{
    position: inherit;
    top:50%;
    width:40%;
    left:55%;
}

.overview{
    position: inherit;
    width: 14%;
    display: inline-block;
    right: 34%;
    
}

.mapview{
    position: inherit;
    width: 8%;
    display: inline-block;
    right:22%;
}

.tableview{
    position: inherit;
    width: 8%;
    display: inline-block;
    right:15%;
}

.countsview{
    position: inherit;
    width: 8%;
    right: 5%;
    display: inline-block;
}