<html lang="en">
    <head>

   
        <script type="text/javascript" src="js/DataPreview_Table.js"></script>
  
        <!--jqxGrid Library-->
        <link rel="stylesheet" href="resources/jqwidgets-ver3.4.0/jqwidgets/styles/jqx.base.css" type="text/css" />
        <link rel='stylesheet' href='css/jqx_custom.css' type="text/css"/>
  
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxcore.js"></script>
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxdata.js"></script> 
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxbuttons.js"></script>
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxscrollbar.js"></script>
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxmenu.js"></script>
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxcheckbox.js"></script>
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxlistbox.js"></script>
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxdropdownlist.js"></script>
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxgrid.js"></script>
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxgrid.sort.js"></script> 
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxgrid.pager.js"></script> 
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxgrid.selection.js"></script> 
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxgrid.edit.js"></script>
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxgrid.columnsresize.js"></script>
    </head>
    
    <body>

    <div class="dataResultsGrid">thisisdataresultsgrid</div>
        
    </body>
</html>


