
	<h1>Table Page</h1>

	<p>{{ query[0].name }}</p>
<html lang="en">
    <head>
        <title> DataPreview: Table </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href='SmartSearch/resources/select2-3.5.1/select2.css' rel='stylesheet'/>
        <link href='SmartSearch/css/SmartSearch.css' rel='stylesheet'/>
        <link href='css/DataPreview_Table.css' rel='stylesheet'/>

        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script type="text/javascript" src="SmartSearch/resources/keyterms.js"></script>
        <script type="text/javascript" src="SmartSearch/resources/taxonomy.js"></script>
        <script type="text/javascript" src="SmartSearch/resources/synonymsByTable.js"></script>
        <script type="text/javascript" src="SmartSearch/resources/select2-3.5.1/select2.js"></script>
        <script type="text/javascript" src="SmartSearch/js/filters.js"></script>
        <script type="text/javascript" src="js/DataPreview_Table.js"></script>
        <script type="text/javascript" src="SmartSearch/js/SmartSearch.js"></script>

        <!--jqxGrid Library-->
        <link rel="stylesheet" href="resources/jqwidgets-ver3.4.0/jqwidgets/styles/jqx.base.css" type="text/css" />
        <link rel='stylesheet' href='css/jqx_custom.css' type="text/css"/>
        <!-- <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/scripts/jquery-1.10.2.min.js"></script> -->
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxcore.js"></script>
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxdata.js"></script> 
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxbuttons.js"></script>
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxscrollbar.js"></script>
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxmenu.js"></script>
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxcheckbox.js"></script>
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxlistbox.js"></script>
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxdropdownlist.js"></script>
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxgrid.js"></script>
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxgrid.sort.js"></script> 
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxgrid.pager.js"></script> 
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxgrid.selection.js"></script> 
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxgrid.edit.js"></script>
        <script type="text/javascript" src="resources/jqwidgets-ver3.4.0/jqwidgets/jqxgrid.columnsresize.js"></script>
        
        <!--SlickGrid Library-->
        <!-- <link href='resources/SlickGrid-master/slick.grid.css' rel='stylesheet'/> 
        <link href='resources/SlickGrid-master/controls/slick.pager.css' rel='stylesheet'/>
        <link href='resources/SlickGrid-master/css/smoothness/jquery-ui-1.8.16.custom.css' rel='stylesheet'/>
        <link href='resources/SlickGrid-master/controls/slick.columnpicker.css' rel='stylesheet'/>
        // <script type="text/javascript" src="resources/SlickGrid-master/lib/jquery-1.7.min.js"></script>
        <script type="text/javascript" src="resources/SlickGrid-master/lib/jquery.event.drag-2.2.js"></script>
        <script type="text/javascript" src="resources/SlickGrid-master/lib/jquery-ui-1.8.16.custom.min.js"></script>
        <script type="text/javascript" src="resources/SlickGrid-master/slick.core.js"></script>
        <script type="text/javascript" src="resources/SlickGrid-master/slick.formatters.js"></script>
        <script type="text/javascript" src="resources/SlickGrid-master/slick.editors.js"></script>
        <script type="text/javascript" src="resources/SlickGrid-master/plugins/slick.rowselectionmodel.js"></script>
        <script type="text/javascript" src="resources/SlickGrid-master/slick.grid.js"></script>
        <script type="text/javascript" src="resources/SlickGrid-master/slick.dataview.js"></script>
        <script type="text/javascript" src="resources/SlickGrid-master/controls/slick.pager.js"></script>
        <script type="text/javascript" src="resources/SlickGrid-master/controls/slick.columnpicker.js"></script> -->

    </head>
    
    <body>
    
    <!-- SlickGrid Frame -->
    <div class="dataResultsGrid"></div>
        
    </body>
</html>


